<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/createBid.css' %}">
	<link rel="stylesheet" href="{% static 'css/myPostedItems.css' %}">
	<link rel="stylesheet" href="{% static 'css/productDetail.css' %}">
	<link rel="stylesheet" href="{% static 'css/auction_item.css' %}">
	<link rel="stylesheet" href="{% static 'css/adminPannel.css' %}">
</head>
<body>
	<header>
		<div class="header">
			<a href="#default" class="logo">Divine IT Limited</a>
			<div class="header-right">
				<a class="active" href="#">Home</a>
			  	<a href="my_posted_items">My Posted Items</a>
			  	<a href="auction_item">Auction Item</a>
			  	<a href="{% url 'signup' %}">Logout</a>
			</div>
		  </div>
		  <div class="pre">Note: If you face trouble to visite any page, use these urls in the address bar. <br>
			Home: id/home <br>
			Auction Item: /id/home/auction_item <br>
			My Posted Item: /id/home/my_posted_items/ <br>
			Amin Dashboard: /admin_pannel/admin
		</div>
	</header>