{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="itemsContainer">
    <h1 class="homeH1">Auction Gallery</h1>
{% comment %} <h4>{{userID}}</h4> {% endcomment %}
    {% if products  %}
        <div class="bidItems">
            {% for product in products %}
                <div class="imgDiv">
                    <a href="{{product.product_id}}/"><img src="/media/{{product.product_img}}" alt="{{product.product_name}}"></a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No Products </h1>    
    {% endif %}
    
    <a href="create/{{userID}}" type="button" class="createBtn">Create</a>    
</div>

{% endblock %}