{% extends "base.html" %}
{% block content %}
<div class="myusersTable">
    {% if users %}
        <table>
            <tr>
                <th>user_id</th>
                <th>email</th>
                <th>password</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                </tr>                
            {% endfor %}
        </table>
    {% else %}   
        <h1>Empty</h1> 
    {% endif %}
</div>
    
{% endblock %}