.itemsContainer{
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: center;
    align-items: center;
}
.homeH1{
    margin-bottom: 0;
}

.bidItems{
    background: transparent;
    border-radius: 5px;
    height: auto;
    margin: 40px 15%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.createBtn{
    position: absolute;
    width: 100px;
    top:94%;
    left: 50%;
    background: linear-gradient(58deg, #FFFF00 0%, #00D4BD 0%, #268FC5 100%);
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 60px;
    box-shadow: 3px 3px 5px #444;

}
.imgDiv{
    background: linear-gradient(58deg, #FFFF00 0%, #00D4BD 0%, #268FC5 100%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #777;
}
.imgDiv img{
    object-fit: contain;
    height: 200px;
    width: 180px;
}