.itemsContainer{
    display: flex;
    flex-direction: column;
    position:relative;
}
.bidItems{
    background-color: whitesmoke;
    border-radius: 5px;
    height: 450px;
    margin: 40px 15%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: scroll;
    column-gap: 10px;
    row-gap: 10px;
}

.createBtn{
    position: absolute;
    width: 100px;
    top:94%;
    left: 50%;
    background-color: green;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;

}
.imgDiv{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #777;
}
.imgDiv img{
    object-fit: contain;
    height: 200px;
    width: 180px;
}