.signup{
    background: linear-gradient(177deg, #FFFF00 0%, #00BCD4 0%, #EBFFFC 100%);
    padding: 156px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #444;
}
h1{
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
}
.field{
    display: flex;
    padding: 10px;
}
.field label{
    flex-basis: 40%;
    font-size: 18px;
    font-weight: bold;
}
.field input{
    outline: none;
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
}
.signupBtn{
    padding: 8px 0px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}